<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		<!-- Side bar -->

		<p>
			<b>Search: </b> <input ng-model="$ctrl.query" />

		</p>

		<p>
			<b>Sort By:</b>
				<select ng-model="$ctrl.orderList">
					<option value="full_name">Name</option>
					<option value="founded_year">Founded</option>
				</select>
		</p>

		</div>

		<div class="col-md-10">

		<ul class="clubs">
			<li ng-repeat="club in $ctrl.clubs | filter: $ctrl.query | orderBy:$ctrl.orderList" class="thumbnail">
				<a href="#!/clubs/{{club.id}}" class="thumb">
					<img ng-src="{{club.imageUrl}}" alt="{{club.full_name}}" />
				</a>

				<a href="#!/clubs/{{club.id}}" class="club_name">{{club.full_name}}</a>
			</li>
		</ul>
			<!--
			<ul>
			    <li ng-repeat="club in $ctrl.clubs | filter: $ctrl.query | orderBy:$ctrl.orderList">
			    	<span class="club_name">{{ club.full_name }}</span>
			    	<p>
			    		<span class="club_fact_heading">Nick Name(s): </span> {{ club.nick_names }} <br />
			    		<span class="club_fact_heading">Founded: </span> {{ club.founded_year + ' ' + club.founded_notes}}  <br />
			    		<span class="club_fact_heading">Ground Name: </span>{{ club.ground_name }}<br />
			    		<span class="club_fact_heading">Ground Capacity: </span> {{ club.ground_capacity }}
			   		</p>
			   	</li>
			</ul>
			-->

		</div>

	</div>
</div>





<!--
full_name: 		'AFC Bournemouth',
					nick_names: 	'The Cherries, Boscombe',
					founded_year: 	'1899',
					founded_notes: 	'118 years ago as Boscombe FC',
					ground_name: 	'Dean Court', 
					ground_capacity:'11464'
-->