body {
  padding-top: 20px;
}


.clubs {
  list-style: none;
}

.clubs li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 75px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 75px;
}



.club_name
{
	font-weight: bold;
	font-size: 25px;
}

.club_fact_heading
{
	font-weight: bold;
}